input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  #vnaam, #anaam{
    padding: 1% 10% 1% 1%;
  }
  
  .button{
        padding: 20px 80px ;
  }

  .Introtekst{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid: 10%;
  }
  
  .team img{
      max-width: 80%;
      margin: 10%;
      margin-right: 0%;
      float: right;
  }