body{
    background-color:#EBEBEB ;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    }


.header{
    background-image: url("../Images/unsplash/brendan-church-je3ugmcla3c-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 800px;
    overflow: auto;
}


.HeaderContent{
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    margin-top: -15px;
}

.YellowTitle h1{
    color:#FFBF00;
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 0;
}

button{
    background-color:#FFBF00;
    text-align: center;
    border: none;
    margin: 5% 5% 5% 0%;
    padding: 5% 20%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    list-style: none  !important;
    color: #FFF !important;
    
}

button a{
    cursor: pointer;
    list-style: none  !important;
    color: #FFF !important;
}

button:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.HeaderTitle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15vh;
}

.HeaderTitle h1{
    text-align: center;
    position: relative;
}
        
.HeaderTitle h1:before{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFF;
    left: -10%;
    top: 50%;
}
.HeaderTitle h1:after{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFF;
    right: -10%;
    top: 50%;
}

main{
    margin-top: 10vh;
}

/* start newest beer section */
.newestbeer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}
.tweebier{
    z-index: 4;
    margin: 0 auto;
    margin-top: -50vh;
}
/* end newest beer section */

/* start lente special section */

.specialtitle{
    text-align: center;
    position: relative;
}

.specialtitle h1:before{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFBF00;
    left: 20%;
    top: 50%;
}
.specialtitle h1:after{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFBF00;
    right: 20%;
    top: 50%;
}

.Special{
    margin-top: 20vh;
}

.SpecialSquare{
    background-color: #FFF;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Specialmid{
    background-color: #FFBF00;
    text-align: center;
    color: #FFF;
    padding: 5%;
}
.Specialmid p{
    margin-top: 33%;;
}

.Specialmidtext{
    margin: 33% auto auto auto;
    max-width: 75%;
}

.Specialmid h2{
    margin-top: 33%;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.Specialbier img{
    display: block;
    margin: 33% auto 5% auto;
    max-width: 33.3%;
}

.Specialsubtitle{
    text-align: center;
    margin-bottom: 25%;
}

.Specialsubtitle h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #FFBF00;
}

.Specialsubtitle i{
    font-size: 28px;
}

.socialicons{
    display: block;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 33.3%;
}
/* end lente special section */

/* start events section */
.Events{
    margin-top: 20vh;
}

.Eventposts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
}

.Events h1{
    color:#FFBF00;
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.Events h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.Events h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.Eventitem{
    margin-top: 10vh;
    background-color: white;
}
.Eventitem img{
    max-width: 100%;
}

.Eventtext{
    padding: 5%;
}




/* end events section */



@media only screen and (max-width: 600px) {
    .HeaderTitle h1{
        font-size: 32px;
    }
    .HeaderTitle h1:before{
        display: none;
    }
    .HeaderTitle h1:after{
      display: none;
    }

    .instagram iframe{
        margin: 0 auto;
    }
}
