body{
    background-color:#EBEBEB ;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.header{
    background-image: url("../Images/unsplash/brendan-church-je3ugmcla3c-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 800px;
    overflow: auto;
}

.headerOverlay{
    height: 800px;
    position: absolute;
    width: 100%;
}

.HeaderContent{
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
}

.YellowTitle h1{
    color:#FFBF00;
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.HeaderTitle{
    margin-top: 15vh;
}

.HeaderTitle h1{
    text-align: center;
    position: relative;
}
        
.HeaderTitle h1:before{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFF;
    left: -10%;
    top: 50%;
}
.HeaderTitle h1:after{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFF;
    right: -10%;
    top: 50%;
}

.specialtitle{
    text-align: center;
    position: relative;
}

.specialtitle h1:before{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFBF00;
    left: 20%;
    top: 50%;
}
.specialtitle h1:after{
    content: "";
    display: block;
    width: 76px;
    height: 10px;
    position: absolute;
    background-color: #FFBF00;
    right: 20%;
    top: 50%;
}

.tweebier{
    margin-top: -50vh;
}
.tweebier img{
    max-width: 75%;
}

.main{
    margin-top: 10vh;
}
.Special{
    margin-top: 20vh;
}

.SpecialSquare{
    background-color: #FFF;
    margin-top: 10vh;
}

.Specialmid{
    background-color: #FFBF00;
    text-align: center;
    color: #FFF;
    padding: 5%;
}

.Specialmid p{
    margin-top: 33%;
}

.Specialmid h2{
    margin-top: 33%;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.Specialbier img{
    margin-top: 33%;
    margin-bottom: 5%;
}

.Specialsubtitle{
    text-align: center;
    margin-bottom: 25%;
}

.Specialsubtitle h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #FFBF00;
}

.Specialsubtitle i{
    font-size: 28px;
}

.events{
    margin-top: 20vh;
}

.events h1{
    color:#FFBF00;
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.events h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.events h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.Eventitem{
    margin-top: 10vh;
    background-color: white;
}

.Eventtext{
    padding: 5%;
}

.Eventtext button{
    background-color:#FFBF00;
    text-align: center;
    border: none;
    margin: 5% 5% 5% 0%;
    padding: 5% 20%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.newsletter{
    background-color:#FFBF00;
    padding: 2% 0%;
    margin-top: 20vh;
}

.newsletter h1{
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.newsletter p{
    color: #FFF;
}
.emailsubmit{
    margin: auto 0;
    margin-right: 0;
}
.emailsubmit #email{
    padding: 2% 20% 2% 2%;
    border: none;
    margin-right: 0;
}

.emailsubmit #submit{
    background-color: black;
    color: white;
    padding: 2% 10%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-left: -10px;
}

@media only screen and (max-width: 600px) {
    .HeaderTitle h1{
        font-size: 32px;
    }
    .HeaderTitle h1:before{
        display: none;
    }
    .HeaderTitle h1:after{
      display: none;
    }
}
