
.nav a li{
    cursor: pointer;
    float: left;
    list-style: none;
    color: #FFF;
    font-size: 24px;
    margin-top: 5vh;
    position: relative;
   
}

.nav{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  text-align: center;
}
    .nav a{
        text-align: center;
        margin: 0 auto;
    }

.active{
    font-weight: bold;
}

.active:before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #FFF;
    left: -75%;
    top: 50%;
}
.active:after{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #FFF;
    right: -75%;
    top: 50%;
}