
.Mobielnav{
    display: none;
    margin-top: 5%;
    padding-bottom: 25%;
}

.subnav{
    color: #FFF;
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 10%;
    padding-top: 35%;
    border: 9px;
    position: fixed;
    margin-top: -30%;
}


.subnav li{
    list-style: none;   
}

/* Icon 4 */
#Hamburger{
    z-index: 2;
    width: 60px;
    height: 45px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #Hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #FFBF00;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


#Hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#Hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#Hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#Hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#Hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#Hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.nav li{
    cursor: pointer;
    float: left;
    list-style: none;
    color: #FFF;
    font-size: 24px;
    margin: auto;
    position: relative;
}

.nav ul{
    display: inline-flex;
	justify-content: space-between;
	flex: 1;
}

.active{
    font-weight: bold;
}

.active:before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #FFF;
    left: -75%;
    top: 50%;
}
.active:after{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #FFF;
    right: -75%;
    top: 50%;
}

@media only screen and (max-width: 600px) {
    .nav{
        display: none;
    }

    .Mobielnav{
        display: inline-block;
    }
  }