.Introtekst{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
}

.Filter{grid-area:Filter;}
.Shop1{grid-area: Shop1;}
.Special{grid-area: Special !important;}
.Shop2{grid-area: Shop2;}

.Shopcontainer{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    'Filter   Shop1'
    ' Filter Special'
    'Filter  Shop2';
    row-gap: 20vh;
}

.Filterarea{
    background-color:#171717 ;
    color: #FFF;
    width: 15vw;
}

.Filter label h3{ 
    border-bottom: solid 3px #FFF;
    font-weight: bolder;
    font-size: 28px;
}

.Filtercheck{
    padding: 10%;
}

.Special{
    margin-top: 0vh !important;
}

.Shopitems{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 10%; 
}
.Shopitem{
    background-color: #FFF;
}

.Shopitem img{
    max-width: 100%;
}


.Shopitemtekst{
    padding: 5%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
